<h1> Todo </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">

  <ag-grid-angular 
    style="width: 1000px; height: 300px;" 
    class="ag-theme-balham"
    [pagination]="true"
    [rowData]="rowData" 
    [columnDefs]="columnDefs">
  </ag-grid-angular>


  <!-- <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
              <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate | date | uppercase}}</td>
                <td>{{todo.done}}</td>
                <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
              </tr>
    </tbody>

  </table> -->
  <br/>
  <div class="row">
      <button (click)="addTodo()" class="btn btn-success">Add</button>
  </div>

</div>